* {
  top: 0;
  left: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  height: 80px;
  background: blueviolet;
  z-index: 1100;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  background: violet;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 500px;
  background: rgb(130, 238, 139);
}
header {
  display: flex;
}
aside {
  position: relative;
  top: 80px;
  width: 350px;
  height: 600px;
  background: yellow;
}
article {
  position: relative;
  top: 80px;
  width: 100%;
  height: 600px;
  background: teal;
  float: right;
}
video {
  margin-left: 0px;
  margin-top: 55px;
  width: 420px;
}
footer {
  width: 100%;
  height: 400px;
  background: black;
}
.principal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 450px;
  background: rgb(238, 170, 130);
}
.primeira,
.segunda,
.terceira {
  position: relative;
  width: 420px;
  height: 320px;
  background: cyan;
}

/* -------------------------------------------------------------- */

.play img {
  width: 100px;
  height: 100px;
}

.pause img {
  width: 50px;
  height: 50px;
  margin-left: -7px;
  margin-top: -3px;
}
.close img {
  width: 50px;
  height: 50px;
  margin-left: -7px;
  margin-top: -3px;
}
.canvas {
  position: absolute;
  width: fit-content;
  width: 420px;
  height: 320px;
  z-index: 1001;
}
.canvas1 {
  position: absolute;
  z-index: 45;
}

.play {
  position: absolute;
  border: none;
  background: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 30%;
  left: 35%;
  z-index: 1000;
  cursor: pointer;
}
.pause {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  border-radius: 50%;
  top: 5px;
  left: 0px;
  cursor: pointer;
}
.close {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  border-radius: 50%;
  top: 5px;
  left: 370px;
  cursor: pointer;
}
/* ------------------------------------------------------------------ */

@media (max-width: 600px) {
  header {
    display: block;
  }

  aside {
    width: 100%;
    height: 50px;
  }
  article {
    width: 100%;
  }
  main {
    height: auto;
  }
  video {
    margin-left: -190px;
    margin-top: 90px;
    width: 360px;
  }
  .canvas {
    margin-left: -80px;
  }
  .play {
    margin-left: -230px;
    margin-top: 30px;
    z-index: 1000;
  }
  .pause {
    margin-left: -190px;
    margin-top: 30px;
  }
  .close {
    margin-left: -250px;
    margin-top: 30px;
  }
  .principal {
    display: block;
  }
  .primeira,
  .segunda,
  .terceira {
    position: relative;
    width: 300px;
    height: 120px;
    background: cyan;
    margin: auto auto;
    margin-bottom: 20px;
    margin-top: 25px;
  }
}
